// Just a git ignore 
/user-client/dist
/user-client/build
/user-client/node_modules/
/user-admin/node_modules/
/user-admin/dist
/user-admin/build

# Build results

HPCDSystem/bin/
HPCDSystem/obj/
HPCDSystem/out/
HPCDSystem/Debug/
HPCDSystem/Release/
HPCDSystem/.vs/

/user-clinet/package-lock.json
/user-admin/package-lock.json
HPCDSystem/HPCDSystem.sln


/HPCDSystem/HPCDSystem.csproj.user
/Desktop - Shortcut.lnk
